
    /*-- First box (Header) starts here.............................................................*/

#background-white{   
    padding-top: 1px;
    margin-top: -1px;
  
    border-bottom: 4px solid #47A5DC ;
}
#background-white .container{
padding-top: 15px;
padding-bottom: 25px;
    
}
.img-fluid{
    padding-right: 0rem;
    padding-left: 0rem ;
}

.logo-text{
   padding-left: 2px;
    font-weight: 900;
    font-size: large;
    color: #47A5DC ;
    margin-bottom: 0rem;
   
}

 #top-three-btn .btn-link{
    padding: 0rem 0.3rem;
    font-size: 0.8rem;
    font-weight: 600;
}

#line{
    font-weight: 300;
    font-size: medium;
    color: #47A5DC ;  
    margin-bottom: 0px;
    margin-top: 0px;
}

.btn-logout{
    border: 2px solid;
    padding: 0rem 0.8rem;
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 1rem;
}
.row{
    margin-left: 0em;
    margin-right: 0em;
}
/*-- Second Box start here...-----------------------------------------------------------*/

#background-dark{
    
    padding-top: 1px;
    margin-top: -1px;
    height: 82.3vh;
    background-color: #D3D3D3;
}

#second-box{    
    margin-top: 3vh;
    margin-bottom: 3vh;
    background-color: white;   
    border-radius: 0.15rem;
    padding-top: 1%;
    padding-bottom: 15px;    
}

#second-box .form-group {
    margin: 0rem;
    padding: 2px;
   
}

.form-inline label {
    justify-content: start;
    font-size: 0.7rem;
    font-weight: 700;     
}

#second-box .form-group .form-control {
    font-size: 0.7rem;
    font-weight: 700;       
    border-radius: 0.10rem;
    width: 100%;
    height: calc(1.9em + 0.15rem + 2px);
}

.btn-style{
    font-size: 0.7rem;
    font-weight: 700;       
    padding: 0.175rem 0.45rem;
    border-radius: 0.10rem;
}


/*-- Third Box Starts here...----------------------------------------------------------*/
#third-box{
    
    height: 51vh    ;
    background-color: white;
    border-radius: 0.15rem;
    padding-top: 5vh;
    
}

.list-bar{
 
    background-color: #f1f1f1;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: medium;
    font-weight: 700;
}
.show-entry{
   padding-left: 0px;
}
.search{
    padding-left: 0px;
}
.show-entry .form-inline .form-control{
    font-size: 0.7rem;
    font-weight: 700;       
    border-radius: 0.10rem;
    font-size: 0.7rem;
    font-weight: 700;       
    border-radius: 0.10rem;
    width: 70%;

}

.search .form-inline .form-control{
    font-size: 0.7rem;
    font-weight: 700;       
    border-radius: 0.10rem;
    font-size: 0.7rem;
    font-weight: 700;       
    border-radius: 0.10rem;
    width: 100%;

}

 

.download-btn{
    font-size: 0.7rem;
    font-weight: 700;
}
.table{
    
    font-size: 0.7rem;
   
}

.last{
}
.btn-6{
    padding: 0rem 0.3rem;
    font-size: 0.7rem;
    font-weight: 900;
}






